.color-grey-1{

    color:#212529;
} 

.color-grey-2 {

    color:#495057;
} 

.color-grey-3 {

    color:#adb5bd;
} 

.color-grey-4 {

    color:#e9ecef;
} 

.color-grey-5 {

    color:#f1f3f5;
} 

.color-grey-1-opacity-5 {
    color:rgba(0, 0, 0, 0.5);
}

.fixed-white {
    color:#ffffff;
} 

.color-brand-1 {

    color:#6741d9;
} 
.color-brand-2 {

    color:#4c3299;
} 
.color-brand-3 {

    color:#f0ecfb;
} 