#button-register {
    height: 32px;
    width: 164px;
    border-radius: 8px;
    padding: 0px 14px 0px 14px;

    font-family: var(--font-family-1);
    font-style: normal;
    cursor: pointer;
    font-weight: var(--font-weight-1);
    line-height: 17px;

    color: #FFFFFF;
    background: var(--color-brand-1);
    border: 1.5px solid var(--color-brand-1);
}

#button-register:hover {
    background: #4C3299;
}

#button-summary {
    height: 32px;
    width: 70px;
    border-radius: 8px;
    cursor: pointer;
    color: var(--color-grey-2);
    background: #FFFFFF;

    border: 1.5px solid var(--color-grey-5);
}

#button-summary:hover {
    color: var(--color-brand-1);
    background: var(--color-brand-3);

    border: 1.5px solid var(--color-brand-1);
    border-radius: 8px;
}

#button-summary:active {
    color: var(--color-brand-1);
    background: var(--color-brand-3);

    border: 1.5px solid var(--color-brand-1);
    border-radius: 8px;
}

#button-category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 68px;
    border-radius: 4px;
    cursor: pointer;

    color: var(--color-grey-2);
    background: var(--color-grey-4);
    border-radius: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    color: var(--color-grey-2);
}

#button-category:hover {
    color: var(--color-grey-1);
}

#button-trash {
    background-image: url(../../assets/trash.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    height: 26px;
    width: 28.25px;
    padding: 0px 8px 0px 8px;
}

#button-trash:hover {
    background-image: url(../../assets/trash\ \(1\).png);
}

#close-modal {
    width: 35px;
    height: 30px;
    border: none;

    background: var(--color-grey-5);
}
