#finance-summary-wrapper {
    margin: 2%;
    height: 41px;
    width: 687px;
    border-radius: 8px;
}

#soma-de-valores-wrapper {
    height: 44px;
    width: 688px;
    border-radius: 8px;
    padding: 14px 16px 14px 16px;
}

#soma-de-valores-wrapper>div>h2 {
    width: 119px;
    height: 17px;

    font-family: var(--font-family-1);
    font-style: normal;
    font-weight: var(--font-weight-2);
    font-size: 14px;
    line-height: 17px;

    color: var(--color-grey-1);
}

#soma-de-valores-wrapper>div>p {
    width: 119px;
    height: 17px;

    font-family: var(--font-family-1);
    font-style: normal;
    font-size: 14px;
    line-height: 17px;

    color: var(--color-grey-1);
}

#card-de-valores-wrapper {
    max-width: 100%;
    height: 476px;
    width: 688px;
    border-radius: 0px;
}

.card {
    max-width: 100%;
    height: 42px;
    width: 688px;

    border-radius: 8px;
    padding: 8px 16px 8px 16px;
}

.card>p {
    height: 17px;
    width: 100px;

    border-radius: nullpx;
}

.margin-left-60{
    margin-left: 60%;
}

