.modal-wrapper {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: var(--color-grey-1-opacity-5);

    opacity: 0;
    pointer-events: none;
}

.show-modal {
    opacity: 1;
    pointer-events: all;
}

.modal {
    width: 428px;
    height: 350px;
    padding: 24px;

    position: absolute;
    left: 35.33%;
    right: 35.26%;
    top: 31.87%;
    bottom: 31.87%;

    background: #FFFFFF;
    border-radius: 8px;
}

.modal-header {
    position: absolute;
    top: 24px;
    left: 24px;
    padding: 0px;
    gap: 25px;

    width: 380px;
    height: 30px;
}

.modal-p {
    position: absolute;
    top: 79px;
    left: 24px;
    width: 380px;
    font-family: var(--font-family-1);
    font-style: normal;
    font-weight: var(--font-weight-3);
    font-size: 14px;
    line-height: var(--font-line-height-1);

    color: var(--color-grey-1);
}

#input-modal {
    width: 380px;
    height: 69px;
}

#input-modal>label {
    width: 35px;
    height: 17px;

    font-family: var(--font-family-1);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    color: var(--color-grey-1);
}

#input-modal>label>input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    gap: 12px;
    margin-top: 10px;
    width: 380px;
    height: 44px;
    border: 1.5px solid var(--color-grey-3);
    border-radius: 8px;
}

#input-modal>label>input::placeholder {
    height: 21px;
    width: 200px;
    padding: 10px;
    border-radius: nullpx;
}

.types-modal {
    position: absolute;
    height: 86px;
    width: 200px;
    left: 24px;
    top: 240px;
}

.types-modal>.types>h3 {
    width: 200px;
    height: 17px;
    font-family: var(--font-family-1);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    color: var(--color-grey-1);
}

.cancel-value {
    position: absolute;
    height: 31px;
    width: 109px;
    left: 190px;
    top: 60px;
    height: 26px;
    width: 68px;
    border-radius: 4px;
    cursor: pointer;

    color: var(--color-grey-2);
    background: var(--color-grey-5);
    border: 1.5px solid var(--color-grey-5);
    border-radius: 8px;
}

.cancel-value:hover {
    color: var(--color-grey-1);
}

.button-value {
    position: absolute;
    height: 31px;
    width: 109px;
    left: 271px;
    top: 60px;
    border-radius: 8px;
    padding: 7px 14px 7px 14px;

    font-family: var(--font-family-1);
    font-style: normal;
    cursor: pointer;
    font-weight: var(--font-weight-1);
    line-height: 17px;

    color: #FFFFFF;
    background: var(--color-brand-1);
    border: 1.5px solid var(--color-brand-1);
}

.button-value:hover {
    background: var(--color-brand-2);
}
